.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	margin: 25px auto 10px auto;
	justify-content: space-evenly;
}
.subContainer {
	padding: 10px;
	display: flex;
	flex-direction: row;
	margin: 0 auto 20px auto;
	overflow-y: hidden;
	height: 20vh;
	width: 35vw;
}
.adjacentContainer {
	height: 100%;
	width: 80%;
	text-align: center;
	overflow-y: hidden;
	padding: 40px;
	box-sizing: border-box;
}
.adjacentContainer2 {
	width: 20%;
	margin: auto;
}
.adjacentContainer2 button {
	background-color: red;
	height: 4vh;
}
.name {
	font-weight: bold;
}
.add {
	background-color: rgb(9, 253, 131);
	width: 10%;
	margin: auto;
	text-align: center;
	height: 30;
	transition: all 0.2s;
	padding: 3px;
}
.add:hover {
	color: white;
	background-color: teal;
	cursor: pointer;
}
