.container {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	width: 40vw;
	padding: 10px;
	background-color: rgba(50, 235, 59, 0.096);
	margin: 10px auto 30px auto;
	box-shadow: -5px -5px 10px 0px #504f4fa4;
	border-radius: 5px;
}
.mainContainer {
	display: flex;
	flex-direction: row;
	margin: 0 auto 0 auto;
	width: 100%;
	justify-content: space-evenly;
}
.heading {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.heading:hover {
	color: rgb(136, 128, 128);
	cursor: pointer;
}

.subContainer1 {
	display: flex;
	padding: 20px;
	flex-direction: column;
	color: rgb(0, 0, 0);
	width: 60%;
}
.subContainer2 {
	display: flex;
	padding: 20px;
	flex-direction: column;
	width: 40%;
}
.total {
	text-align: center;
}
