.menu {
	padding: 10px;
	background: linear-gradient(
		178.24deg,
		#fac3c3 1.49%,
		rgba(204, 36, 36, 0) 98.62%
	);

	border: 0.5px solid #2300f8;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	width: 40%;
	justify-content: center;
	text-align: center;
}
.receipt {
	width: 50%;
	height: 500px;
	margin: auto;
	background: linear-gradient(
		179.98deg,
		#888cec 0.02%,
		rgba(196, 196, 196, 0) 104.6%
	);
	border: 1px solid #fb0000;
	box-sizing: border-box;
	border-radius: 12px;
}
.container {
	margin: 50px;
	display: flex;
}
.receiptButton {
	margin-left: 50%;
}
.linkStyle {
	text-decoration: none;
	background-color: rgb(197, 31, 31);
	padding: 7px;
	border-radius: 5px;
	color: white;
	transition: all 200ms linear;
}
.linkStyle:hover {
	padding: 10px;
	background-color: rgb(31, 197, 45);
}
