.menu {
	padding: 10px;
	background: rgb(245, 245, 245);

	border: none;
	box-sizing: border-box;
	box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	width: 40%;
	justify-content: center;
	text-align: center;
}
.receipt {
	color: white;	
	width: 50%;
	min-height: 50vh;
	margin: auto;
	background: rgb(59, 61, 61);
	border: none;
	box-shadow: 10px 8px 4px rgb(116, 114, 114);
	box-sizing: border-box;
	border-radius: 12px;
}
.container {
	margin: 50px;
	display: flex;
}
.receiptButton {
	margin-left: 50%;
}
.linkStyle {
	text-decoration: none;
	background-color: rgb(197, 31, 31);
	padding: 7px;
	border-radius: 5px;
	color: white;
	transition: all 200ms linear;
}
.linkStyle:hover {
	padding: 10px;
	background-color: rgb(31, 197, 45);
}
