button {
	border: none;
	border-radius: 2.75px;
	margin: 0 10px 0 10px;
	color: rgb(20, 1, 1);
	background-color: rgb(86, 87, 78);
	transition: all 200ms linear;
}
button:hover {
	font-size: 17px;
	cursor: pointer;
}
button:disabled {
	background-color: #ef282856;
	cursor: not-allowed;
}
.btnDanger {
	color: white;
	background-color: #ef2828;
}
.btnSuccess {
	color: black;
	background-color: #3ff37e;
}
.linkStyle {
	color: rgb(5, 31, 126);
	text-decoration: none;
}
